<%# <%= render 'layouts/background' %>
<%= render 'layouts/header' %>
<h1>New Meeting</h1>

<%= render 'form', meeting: @meeting %>

<%= link_to 'Back', meetings_path %>
<%= image_tag '/publicdomainq-0033961jit.jpg', class: "meeting__image" %> 