<%= render 'layouts/background' %>
<div class="content__user">
  <div class="content__user--left">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <h5>アカウントの編集</h5>

  <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に削除してもよろしいですか？" }, method: :delete %>

  <div class="content__user--back">
    <%= link_to "戻る", :back %>
  </div>
  </div>

  <div class="content__user--right">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <div class="field__list">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <div class="field__list">
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
      </div>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <div class="field__list">
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <div class="field__list">
      <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "更新" %>
    </div>
  <% end %>

</div>
