<div class="content__user">
  <div class="content__user--left">
  <h2>Log in</h2>
  <h5> 登録しているユーザーでログイン </h5>
  </div>

  <div class="content__user--right">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <div class="field__list">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <div class="field__list">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <div class="field__list">
          <%= f.label :remember_me %>
        </div>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>
  </div>

<%# <%= render "devise/shared/links" %>

</div>