<div class="icons">
  <%= link_to "Balance Sheet", '/', class: "sub_title" %>
  <% if user_signed_in? %>
    <div class="icon">
      <%= link_to "カレンダー", meetings_path, class: "icon__calendar" %>
      <%= link_to "マイページ", edit_user_registration_path, class: "icon__home" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </div>
  <% else %>
    <div class="icon">
      <%= link_to "ログイン", new_user_session_path, class: 'icon__in' %>
      <%= link_to "新規登録", new_user_registration_path, class: 'icon__new' %>
    </div>
  <% end %>
</div>