<!DOCTYPE html>
<html>
  <head>
    <title>MyKakeibo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="header">
      <div class="icons">
          <%= link_to "Balance Sheet", '/', class: "title" %>
        <% if user_signed_in? %>
          <div class="icon">
            <%= link_to "マイページ", edit_user_registration_path, class: "icon__home" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </div>
        <% else %>
          <div class="icon">
            <%= link_to "ログイン", new_user_session_path, class: 'icon__in' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'icon__new' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="content">
      <%= render 'layouts/notifications' %>
      <%= yield %>
    </div>
  </body>
</html>


