<!DOCTYPE html>
<html>
  <head>
    <title>MyKakeibo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__right">
        <%= link_to "トップページ", '/', class: "header__title--text" %>
        <%= link_to "ログアウト", '#', class: "header__right--btn" %>
      </div>
    </header>

    <% if flash.notice %>
      <%= flash.notice %>
    <% end %>

    <div class="contents">
      <%= yield %>
    </div>
  </body>
</html>
